name: Overflow Test

on: [push]

defaults:
  run:
    # default failure handling for shell scripts in 'run' steps
    shell: 'bash -Eeuo pipefail -x {0}'

permissions: {}

jobs:
  overflow_test:
    runs-on: ubuntu-latest
    name: Overflow Test
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Generate Test Summary
        id: generate-summary
        uses: ./
        with:
          artifact_directory: example-artifacts/
          limit_summary: 10

      - name: If there is an overflow summary, archive it
        if: ${{steps.generate-summary.outputs.Overflow}}
        uses: actions/upload-artifact@v4
        with:
          name: ${{steps.generate-summary.outputs.Overflow}}
          path: ${{steps.generate-summary.outputs.Overflow}}
          retention-days: 7
