name: Unit Test

on: [push]

permissions: {}

jobs:
  unit_test:
    runs-on: ubuntu-latest
    name: Unit test
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: python -m pip install --upgrade pip prettytable

      - name: Run suite
        run: python test_summary.py -v
